.card {
    h1 {
        color:white;
        text-align: center;
    }
}

.p-float-label {
    margin:30px;
}

.flex .flex-column .gap-2 {
margin: 20px;
}
.p-inputtextarea {
    width: 350px;
    height: 150px;
}

.p-button
{
    display: block;
    text-align: center;
}

form {
    background-color: rgb(25, 25, 26);
}
