.apptabmenu {
    background-color: rgb(20, 7, 25);
}

.p-menuitem-text {
    color: rgb(129, 111, 144);
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link  {
    border: solid #263238;
    border-width: 0 0 2px 0;
    border-color: transparent transparent #263238 transparent;
    background: #1a1721;
    color: rgb(177, 135, 255);
    padding: 1rem;
    font-weight: 600;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    transition: box-shadow 0.3s;
    margin: 0 0 -2px 0;
    height: calc(100% + 2px);
}

.p-tabmenu .p-tabmenu-nav:hover .p-tabmenuitem:hover .p-menuitem-link:hover {
    background-color: rgb(43, 23, 56);
    color: white;
}

